<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LocalVibes</title>
    <link rel="stylesheet" href="tags.css"> <!-- Link to your CSS file -->
    <script type='module' src="tags.js" defer></script>
    <!--<script type='module' src="main.js" defer></script>-->
</head>
<body>
    <div class="tags">
        <span class="tag" data-genre="pop">Pop</span>
        <span class="tag" data-genre="rock">Rock</span>
        <span class="tag" data-genre="chill">Chill</span>
        <span class="tag" data-genre="rap">Rap</span>
        <span class="tag" data-genre="rnb">RnB</span>
        <span class="tag" data-genre="punk">Punk</span>
        <span class="tag" data-genre="edm">EDM</span>
        <span class="tag" data-genre="country">Country</span><br>
        <span class="tag" data-genre="hiphop">Hip Hop</span>
        <span class="tag" data-genre="k-pop">K-Pop</span>
        <span class="tag" data-genre="reggae">Reggae</span>
        <span class="tag" data-genre="classical">Classical</span>
        <span class="tag" data-genre="latin">Latin</span>
        <span class="tag" data-genre="sad">Sad</span>
        <span class="tag" data-genre="angry">Angry</span>
    </div>
    <div class="events">
        <span class="event" data-genre="pop">Event 1</span>
        <span class="event" data-genre="chill">Event 2</span>
        <span class="event" data-genre="pop">Event 3</span>
        <span class="event" data-genre="pop">Event 4</span>
    </div>
</body>
