<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LocalVibes Login</title>
    <link rel="stylesheet" href="login.css"> <!-- Link to your CSS file -->
    <script type='module' src="login.js" defer></script>
    <!--<script type='module' src="main.js" defer></script>-->
</head>
<body>

    <div class="wrapper">
        <form action="">
            <div class="login">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>
            <a href="index.html">
            <button class="button">Login</button> <!--change to submit instead of href-->
            </a>
            <div class="signup">
                <p>Create your account
                <a href="signup.html">here</a></p>
            </div>
            </div>
        </form>
    </div>
</body>