.event-list-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.event-list.horizontal-scroll {
    display: flex;
    overflow-x: auto; /* Changed from hidden to auto to enable scrolling */
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide scrollbar */
}

.event-list.horizontal-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar other browsing options */
}

.event-card {
    flex: 0 0 calc(33.33% - 40px); /* Show 3 cards at a time with gaps */
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-card img {
    width: 100%;
    height: auto;
    max-height: 70%;
    border-radius: 8px;
    object-fit: cover;
}

.scroll-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    margin: 0 10px;
}

.scroll-button:hover {
    background-color: #0056b3;
}